body {
    background-color: cornsilk;
}

.park_header {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}
.park_footer {
    display: flex;
    justify-content: space-evenly;
    background-color: cornflowerblue;
}

.park_logo {
    width: 75px;
}

.details {
    display: flex;
}

.area_card {
    border: 2px solid darkblue;
    padding: 1em;
    margin: 0.5em;
    font-weight: bold;
    width: 250px;
}

.detail_column {
    justify-content: center;
    width: 1000px;
}

.areaList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.area_list {
    text-align: center;
}

.area_name {
    display: flex;
    justify-content: center;
}

.cardinal_direction {
    display: flex;
    justify-content: center;
}

.detail_aside {
    width: 350px;
}

.services_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}